<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        {{fig}}
        <p>
            <table style="margin-left: auto; margin-right: auto;">
                <th colspan="2">Training</th>
                <tr>
                    <td style="text-align:right">
                        Augmented Dickey-Fuller test p-value (stationarity):
                    </td>
                    <td style="text-align:left">
                        {{ info["p_val_adfuller"] }}
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">
                        Breusch-Pagan test p-value (homoscedasticity):
                    </td>
                    <td style="text-align:left">
                        {{ info["p_val_bp"] }}
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">
                        Zero-mean test p-value:
                    </td>
                    <td style="text-align:left">
                        {{ info["p_val_zm"] }}
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">
                        Hedge ratio:
                    </td>
                    <td style="text-align:left">
                        {{ info["hedge_ratio"] }}
                    </td>
                </tr>
            </table>
        </p>
    </body>
</html>

